body {
 background: linear-gradient(180deg, #feb47b, #ff7e5f, #ff5f6d);

}

h1 {
 color: white;
 font-weight: 800;
 margin: 0;
 line-height: 2;
 font-size:: 34px;
}

p {
 color: white;
 font-size: 1.5em;
}

.container {
  padding: 50px;
}

.grid {
 grid-gap: 40px;
 display: grid;
 grid-template-columns: 1fr 1fr 2fr;
 min-height: 100vh;
}

.grid > * {
 border: none;
 align-self:
}

@media(max-width: 992px) {
 .grid {
   grid-template-columns: 1fr 1fr;
 }
}
@media(max-width: 768px) {
 .grid {
   grid-template-columns: 1fr;
 }
}
@media (min-width: 320px) and (max-width: 480px) {

 .grid {
   grid-template-columns: 1fr;
 }

}

.card-3 {
 text-align: center;
 align-self: center;
 line-height: 20pt;
 padding-bottom: 50px;
}

.card-3 .brand {
  opacity: .3;
  margin-bottom: 30px;
}

 .logo {
    opacity: 0.8;
  }

  .logo:hover {
    opacity: 1;
  }

/*.card-3 .hide-logo-quote {
  margin-top: 30px;
  display: none;
}*/

 #quote-toggle {
  color: white;
  margin: 50px;


}
.visible {
 visibility: hidden;
}







